{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
    <h2 class="fw-normal">Поля в Самаре</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="header2__ing" src="{{url_for('static', filename='Image/fon11.jpg')}}" alt="fon11"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">РФЛ-Арена</text></svg>
            <div class="card-body">

              <li>Круглосуточно</li>
              <li>Революционная ул. 64 корп.1</li>
              <li>тел +78469910111</li>
              <li> ост.Гагаринская</li>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="header3__ing" src="{{url_for('static', filename='Image/fon2.jpg')}}" alt="fon2"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">РФЛ-Арена</text></svg>
            <div class="card-body">

              <li>8:00-00:00</li>
              <li>Московское шоссе 120Б</li>
              <li>тел +78469910111</li>
              <li> ост.Спортивная</li>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="header4__ing" src="{{url_for('static', filename='Image/fon3.jpg')}}" alt="fon3"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Футбольный манеж Сити</text></svg>
            <div class="card-body">

              <li>Круглосуточно</li>
              <li>Гранатный пер.1</li>
              <li>тел +79022910111</li>
              <li> ост.Гагаринская</li>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="header5__ing" src="{{url_for('static', filename='Image/fon4.jpg')}}" alt="fon4"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Футбольный центр Раскат</text></svg>
            <div class="card-body">

              <li>8:00-23:00</li>
              <li>ул. Красных Коммунаров,13</li>
              <li>тел +79198061223</li>
              <li> ост.Безымянка</li>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="header6__ing" src="{{url_for('static', filename='Image/fon5.jpg')}}" alt="fon5"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Спортплощадка</text></svg>
            <div class="card-body">

              <li>Круглосуточно</li>
              <li>Московское шоссе 102А</li>
              <li>Бесплатно</li>
              <li> ост.Спортивная</li>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="header7__ing" src="{{url_for('static', filename='Image/fon6.jpg')}}" alt="fon6"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Спортплощадка</text></svg>
            <div class="card-body">

              <li>Пн,Вт,Чт, Сб 12:00-17:00</li>
              <li>Красноглинский район, микрорайон Крутые Ключи</li>
              <li>Бесплатно</li>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="header8__ing" src="{{url_for('static', filename='Image/fon7.jpg')}}" alt="fon7"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Спортплощадка</text></svg>
            <div class="card-body">

              <li>Круглосуточно</li>
              <li>Жилой квартал Баварская Деревня</li>
              <li>Бесплатно</li>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="header9__ing" src="{{url_for('static', filename='Image/fon9.jpg')}}" alt="fon9"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Спортплощадка</text></svg>
            <div class="card-body">

              <li>Круглосуточно</li>
              <li>Октябрьский район</li>
              <li> ост.Гагаринская</li>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="header10__ing" src="{{url_for('static', filename='Image/fon8.jpg')}}" alt="fon8"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Спортплощадка</text></svg>
            <div class="card-body">

              <li>Круглосуточно</li>
              <li>Самарский район</li>
              <li> ост.Алабинская</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}